// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// General
body{
  background-image: linear-gradient(to right, #fff1cf, #ffefdc, #fff0ed, #fff4fa, #fff9ff, #fcf8ff, #f9f7ff, #f6f6ff, #eeefff, #e5e9ff, #dce2ff, #d1dcff);
}

.center-justify-80{
	text-align:justify;
	margin: auto auto;
	width:80%;
}

.center-justify-90{
	text-align:justify;
	margin: auto auto;
	width:90%;
}

.center-justify-85{
	text-align:justify;
	margin: auto auto;
	width:85%;
}

.center-justify-75{
	text-align:justify;
	margin: auto auto;
	width:75%;
}

.bg-grey{
    border-color: #85878a;
}

.text-grey{
	color:#85878a;
}

.wrapper{
	padding:0;
}

a{
	text-decoration:none;
	color:grey;
}

a:hover{
	text-decoration:none;
}

.form-control:focus {
  border-color: #ffa50d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.understrap-read-more-link{
	//width:100%;
	//display:none;
	background-color:#808080;
}

.page-title{
	padding:2rem;
	font-size:1rem;
}


// Front Page
.front-images-container{
  position:relative;
}

.three-climates-land-img{
  width: 100%;
  max-width: 100%;
}

.front-image-ventilator{
  position: absolute;
  width: 10%;
  max-width: 25%;
  top: 17%;
  left: 47.5%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } };
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } };
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } };
}

.front-image-air{
   z-index:1;
   position: absolute;
   width: 10%;
   max-width: 25%;
   top: 25%;
   left: 87%;
}

.cold {
	z-index:0;
	position: absolute;
	background:  #3695ee;
	top:22%;
	left: 85%;
	width: 14%;
	max-width: 28%;
	height:35%;
	max-height:45%;
	opacity: 0;
	border-radius: 50%;
}

.s0 { animation: leftWave 10s 0s infinite }
.s1 { animation: rightWave 10s 1s infinite }
.s2 { animation: leftWave 10s 2s infinite }
.s3 { animation: rightWave 10s 3s infinite }
.s4 { animation: leftWave 10s 4s infinite }
.s5 { animation: rightWave 10s 5s infinite }
.s6 { animation: leftWave 10s 6s infinite }
.s7 { animation: rightWave 10s 7s infinite }
.s8 { animation: leftWave 10s 8s infinite }
.s9 { animation: rightWave 10s 9s infinite }

@keyframes leftWave {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -35%) }
	100% { opacity: 0; transform: scale(1) translate(0, 75%) }
}

@keyframes rightWave {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -35%) }
	100% { opacity: 0; transform: scale(1) translate(0, 75%) }
}

.light {
  z-index:-1;
  position: absolute;
  top:34%;
  left: 8%;
  width: 14%;
  padding-bottom: 14%;
  border-radius: 40%;
  background: #ffc460;
  animation: light 1.5s linear infinite alternate;
  
  &::before {
    content: "";
    position: absolute;
    top:20%;
    left: 5%;
    width: 90%;
    padding-bottom: 80%;
    border-radius: 40%;
    background: #ffc460;
  }
  &::after {
    content: "";
    position: absolute;
    top:15%;
    left: 10%;
    width: 80%;
    padding-bottom: 80%;
    border-radius: 40%;
    background: #ffa100;
  }
}

@keyframes light {
  0%   {opacity: 0.5; transform: translate(0px) scale(1)}
  100% {opacity: 1; transform: scaleX(.95) scaleY(.95)}
}

.front-page-option:hover{
	.text-grey{
		color:#C8C8C8;
	}
}

.three-climates-background-img{
	background:red;
	height:46rem;
}

.card-title, .card-subtitle {
	text-align:center;
}


// Blog 
#content{
	 background: white;
	 //border-left: 0.7rem solid #212529;
	 //border-right: 0.7rem solid #212529; 
}

.content-area{
	border-left: 0.7rem solid #212529;
	border-right: 0.7rem solid #212529; 
}

.post{
	color:black;
	//padding:2rem;
	//border-bottom:0.5rem solid #212529;
}

.post::after{
	display: block;
	content: "";
	height:0.2rem;
	width:80%;
	margin-left: auto;
    margin-right: auto;
	background:grey;
	margin-top:1rem;
	margin-bottom:1rem;
}

.wp-post-image{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image{
	display: block !important;
	margin-left: auto !important;
    margin-right: auto !important;
}

figcaption{
	display: block !important;
	margin-left: auto !important;
    margin-right: auto !important;
}

.entry-header{
	//background:#212529;
	text-align:center;
	padding:2rem;
	//color:white;
}

.entry-title a{
font-size:1.5rem;
	color:black;
}
.entry-title{
	font-size:1.5rem;
}
.posted-on{
	color:grey;
	a{
		color:grey;
	}
} 

.entry-meta{
	color:grey;
}

#primary{
	padding:0;
}

.entry-content{
	font-size:1.1rem;
	font-weight:bold;
	width:90%;
	margin: auto auto;
	color:grey;
}


.entry-footer{
	padding:2rem;
	//border-bottom:0.5rem solid #212529;
	display: block;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	display:none;
	
}

.entry-summary{
	padding:2rem;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	font-size:1.5rem;
}
.page-content{
	padding:2rem;
}
.comments-area{
	padding:2rem;
}

.comment-list{
	padding-top:1rem;
}

#right-sidebar{

	background:#212529;
	color:white;
	a{
		color:grey;
	}
}
#searchsubmit{
	background:#ffa50d;
	border:0.05rem solid;
	border-color: #ffa50d;
}
.widget{
	padding-top:1rem;
}
.widget-title{
	font-size:1.5rem;
}
.widget-area{
	padding-top:2rem;
	padding-left:3rem;
	padding-right:3rem;
	ul{
		color:grey;
	}
	a, li{
		font-weight: bold;
	}
	a:hover, li:hover{
		color:#D3D3D3 !important;
	}
}

#search-2{
	padding-top:0;
	padding-bottom:1rem;
}

// Footer
.site-info{
	display:none;
}

#wrapper-footer-full{
	background:#212529;
	color:white;
	text-align:center;
	padding-top:0.5rem;
}

